<div class="row min-vh-100">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between">
                <h6>Users table</h6>
                <a class="btn btn-link text-success px-3 mb-0" onclick="show_form_add_user()" href="javascript:;"><i
                        class="fas fa-plus text-success me-2" aria-hidden="true"></i>Add</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Stt</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">User
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Role</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Status</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Birdthday</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% lsUser.forEach(function(user){ %>
                                <%- include('users-item', {user: user}); %>
                                    <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete this user?
            </div>
            <div class="modal-footer">
                <button id="btn_cf_delete_user" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete -->
<form id="delete_user_form" method="POST"></form>


<script>

    var deleteUserModal = document.getElementById('deleteUserModal')
    var btn_cf_delete_user = document.getElementById('btn_cf_delete_user')
    console.log(btn_cf_delete_user);
    var delete_user_form = document.getElementById('delete_user_form')
    console.log(delete_user_form);

    var userId;
    deleteUserModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        userId = button.getAttribute('data-id')
        console.log(userId);
    })

    btn_cf_delete_user.onclick = function () {
        delete_user_form.action = '/users/delete/' + userId
        delete_user_form.submit()
    }
</script>